In [ ]:
import requests
from bs4 import BeautifulSoup
# import sleep
from random import randint

import openpyxl

  
HEADERS = ({'User-Agent':
            'Mozilla/5.0 (Windows NT 10.0; Win64; x64) \
            AppleWebKit/537.36 (KHTML, like Gecko) \
            Chrome/90.0.4430.212 Safari/537.36',
            'Accept-Language': 'en-US, en;q=0.5'})
  
def getdata(url):
    r = requests.get(url, headers=HEADERS)
    return r.text
  
def html_code(url):
    htmldata = getdata(url)
    soup = BeautifulSoup(htmldata, 'html.parser')
    return (soup)

In [ ]:
import pandas as pd

from time import sleep
def cus_rev(url):
    comments = pd.DataFrame(columns =['text'])
    data_str = ""
    data_st = ""
    rating = []
    for slug in range(10,22000,10):
        newUrl = url.replace('or10', 'or'+str(slug))
        htmldata = getdata(url)
        sleep(randint(1, 3))
        soup = BeautifulSoup(htmldata, 'html.parser')
        for item in soup.find_all('div', class_="KxBGd"):
            for items in item.find_all('span', class_='yCeTE'):
                data_str = data_str +  '\n'+ items.get_text()
            result = data_str.split("\n")
            df = pd.DataFrame(result, columns =['text'])
        
#                                  
    comments = pd.concat([comments, df ])
    
    return comments

In [ ]:
comments = cus_rev('https://www.tripadvisor.com/Attraction_Review-g29092-d103346-Reviews-or10-Disneyland_Park-Anaheim_California.html')
comments

In [ ]:
import pandas as pd
with pd.ExcelWriter("review20k.xlsx") as writer:
    comments.to_excel(writer)

In [ ]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import svm
import nltk
from sklearn.linear_model import Perceptron
from nltk.corpus import stopwords
import string 
import numpy as np

In [ ]:
df = pd.read_csv("review20k.csv", encoding='utf8')
df

       Unnamed: 0                                           comments  text
0               0                                                NaN   NaN
1               1  Just got back from Disneyland. For context I h...   0.0
2               2  Had lots of excitement to visit this park only...   0.0
3               3  Just came home From Disneyland spent 2 days at...   1.0
4               4  Disneyland is one of the funnest places I’ve t...   1.0
...           ...                                                ...   ...
21986       21986  To begin with, I am not a local resident and i...   1.0
21987       21987  Let me start by saying that it hurts me to wri...   0.0
21988       21988  I want to start by saying disneyland should be...   1.0
21989       21989  Too many people, massive lines for rides (that...   0.0
21990       21990  Employees are becoming very rudeScream and yel...   0.0

[21991 rows x 3 columns]

In [ ]:
df = df[['comments', 'text']]
df.columns = ['comments', 'types']
df.dropna(inplace=True)
df.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

                                            comments  types
1  Just got back from Disneyland. For context I h...    0.0
2  Had lots of excitement to visit this park only...    0.0
3  Just came home From Disneyland spent 2 days at...    1.0
4  Disneyland is one of the funnest places I’ve t...    1.0
5  I’m writing this review because my experience ...    0.0

In [ ]:
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True,lowercase=True,strip_accents='ascii',stop_words=stopset)

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
x = vectorizer.fit_transform(df.comments)
y=df.types

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x,y, train_size=0.2, random_state=25)

In [ ]:
model1 = MultinomialNB()
model2 = LogisticRegression()
model3 = Perceptron()

In [ ]:
model1.fit(X_train, y_train)
model2.fit(X_train, y_train)
model3.fit(X_train, y_train)

Perceptron()

In [ ]:
print(model1.score(X_test, y_test))
print(model2.score(X_test, y_test))
print(model3.score(X_test, y_test))

1.0
1.0
1.0

In [ ]:
word = np.array(['good job'])
predict = vectorizer.transform(word)
model1.predict(predict)

array([1.])